h1{
    text-align: center;
}

#rant{
    display:flex;
    flex-direction: row;
    text-align: justify;
    
}

.greenback{
    background-color: green;
    background: url(https://i.ytimg.com/vi/iND8_bHbk08/maxresdefault.jpg);
    color:blue;
}


object {
    height: 100vh;
    width: 100vh;
}
